<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd:odd}"
            [ngStyle]="{backgroundColor: 'yellow'}"
            *ngFor="let odd of oddNumbers">{{ odd }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li
            [ngClass]="{even:even}"
            [ngStyle]="{backgroundColor: 'blue'}"
            class="list-group-item"
            *ngFor="let even of evenNumbers">{{ even }}
          </li>
        </div> -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd:odd}"
            [ngStyle]="{backgroundColor: 'yellow'}"
            *ngFor="let even of evenNumbers">{{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with basic directives</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Tell me why?</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is default</p>
      </div>
    </div>
  </div>
</div>
